[defaults]
remote_user=strkadmin24
inventory=./inventory
host_key_checking=false
private_key_file = /root/.ssh/myansible
roles_path= ./roles
ask_pass=false
vault_password_file=~/.ansible_vault_pass

[privilege_escalation]
become=true
become_ask_pass=false
become_method=sudo
become_user=root
